<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>后台管理-新增标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入Markdown插件所需要的CSS-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" />
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
    </nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item m-opacity-tiny" style="color: #6577b9">发布</a>
                <a href="#"  th:href="@{/admin/blogs}" class="item m-opacity-tiny" style="color: #6577b9">列表</a>
                <a class="item m-opacity-tiny" href="#" th:href="@{/}" style="color: #6577b9">返回前台</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <!--适应移动端手机-->
        <div class="ui container">
            <form action="#" method="post"  th:object="${tag}" th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})} "  class="ui form">
                <div class="required field">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">名称</label>
                        <input type="text" name="name" placeholder="标签名称"  th:value="*{name}">
                    </div>
                </div>
                <!--表单校验-->
                <!--错误提示-->
                <div class="ui error message">

                </div>
                <!--/*/
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
                  <i class="close icon"></i>
                  <div class="header">验证失败</div>
                  <p th:errors="*{name}">提交信息不符合规则</p>
                </div>
                 /*/-->

                <!--返回、提交-->
                <div class="ui right aligned container">
                    <!--onclick="window.history.go(-1)返回上一页面-->
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>

                    <button class="ui teal submit button">提交</button>
                </div>

            </form>
        </div>
    </div>
    <br>
    <br/>
    <br/>
    <br/>
    <br/>
    <br>
    <!--底部-->
    <div class="fixed">
        <footer  th:replace="admin/_fragments :: footer"  class="ui inverted vertical segment m-padded-tb-massive ">
        </footer>
    </div>


    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
        <!--引入jQuery-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <!--引入sementic-ui模板所需要的js-->
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <!--引入Markdown插件需要引入的js-->
        <script src="../../static/lib/editormd/editormd.min.js"></script>
    <!--/*/</th:block>/*/-->
    <!--声明行内js代码域-->
    <script>
        /*移动端显示导航栏设置*/
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        /*导航栏用户注销显示*/
        $('.ui.dropdown').dropdown({
            on:'hover'
        });
        /*表单校验*/
        $('.ui.form').form({
            fields:{
                title:{
                    identifier:'name',
                    rules : [{
                        type : 'empty',
                        prompt:'请输入标签名称！'
                    }]
                }
            }
        });
    </script>
</body>
</html>