<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <!--适应移动端手机-->
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <dvi class="column">
                    <h3 class="ui teal header">分类</h3>
                </dvi>
                <dvi class="right aligned column">
                    共 <h2 class="ui orange header m-inline-blok m-text-thin" th:text="${#arrays.length(types)}"></h2>个
                </dvi>
            </div>
        </div>
        <!--分类列表区域-->
        <div class="ui attached segment m-padded-tb-large   ">
            <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic  button"
                   th:classappend="${type.id==avtiveTypeId }? 'teal'" th:text="${type.name}"></a>
                <div class="ui basic left pointing label" th:classappend="${type.id==avtiveTypeId }? 'teal'"
                     th:text="${#arrays.length(type.blogs)}">
                </div>
            </div>
        </div>
        <!--博客列表-->
        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear" th:each="blog : ${page.content}">
                <!--mobile reversed反序-->
                <div class="ui middle aligned grid mobile reversed stackable">
                    <div class="eleven wide column">
                        <h3><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black"
                               th:text="${blog.title}"></a></h3>
                        <p class="m-text" th:text="|${blog.description}.....|"></p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1011/100/100" alt="" class="ui avatar image"
                                             th:src="@{${blog.user.avatar}}">
                                        <div class="content"><a href="#" th:href="@{/about}" target="_blank"
                                                                class="header" th:text="${blog.user.nickname}"></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${blog.views}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide right aligned column">
                                <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}"
                                   class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://picsum.photos/id/1011/800/400" alt="" th:src="@{${blog.firstPicture}}"
                                 class="ui round image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--分页-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <dvi class="column">
                    <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                       class="ui mini teal basic button">上一页</a>
                </dvi>
                <dvi class="right aligned column">
                    <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                       class="ui mini teal basic button">下一页</a>
                </dvi>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive ">
</footer>
<!--引入所需要的JS-->
<th:block th:replace="_fragments :: script">

</th:block>

<!--声明行内js代码域-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>